html
  head
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/js/site.js')
    link(rel='stylesheet' href='/stylesheets/style.css')
    title=system.name
  body
    div(class='root')
