html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no")
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/js/site.min.js')
    link(rel='stylesheet' href='/stylesheets/style.min.css')
    title=system.name
  body
    div(class='root')
      //System Template
      div(class='system' id='template')
        div(class='system__name')
        div(class='system__stars')
        div(class='system__deep-space')
    
      //Location Group Template
      div(class='location-group' id='template')
        div(class='location-group__name')
        div(class='location-group__locations')
      
      //Location Template
      div(class='location' id='template')
      
      //Asset Template
      div(class='asset', id='template')
        div(class='d-flex')
          input(class='asset__callsign -border-row')
          button(class='asset__delete') X
        div(class='asset__controls -border-cols')
          span(class='asset__name -border-col')
          span(class='asset__hp -border-col')
            span
              input(class='asset__current-hp', value=10)
            span /
            span(class='asset__max-hp')
            span HP
        div(class='-border-row')
          div(class='asset__location') Location: 
            select(class='asset__location-select')
              
      //Faction Template
      div(class='faction' id='template')
        div(class='faction__name')
        div(class='faction__assets')
      
      //Star Template
      div(class='star' id='template')
      
      //Orbital Template
      div(class='orbital' id='template')
      
      //Deep Space Template
      div(class='deepspace' id='template')
      
      //Deep Space Sector Template
      div(class='sector' id='template')
      
      //Planet template
      div(class='planet satellite' id='template')
      
      //Asset dot template
      div(class='asset-dot satellite' id='template')
      
      //Asset Form
      form(class='asset-form', id='template')
        div(class='faction__name') Create Asset
        div(class='asset-form__asset')
          div(class='d-flex')
            input(class='asset-form__callsign -border-row' placeholder='CALLSIGN' id='new-asset-callsign' name='callsign')
            button(class='asset-form__create') +
          div(class='asset-form__controls -border-cols')
            input(class='asset-form__name -border-col' placeholder='NAME' id='new-asset-name' name='name')
            span(class='asset-form__hp -border-col')
              input(class='asset-form__max-hp' placeholder='-99' type='number' id='new-asset-hp' name='maxHp')
              span HP
          div(class='-border-row')
            div(class='asset-form__select') Location: 
              select(class='asset-form__location-select' id='new-asset-location' name='location')
          div(class='-border-row')
            div(class='asset-form__select') Faction: 
              select(class='asset-form__faction-select' id='new-asset-faction' name='faction')
