html
  head
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/js/site.js')
    script(src='/js/edit.js')
    link(rel='stylesheet' href='/stylesheets/style.css')
    title=system.name
  body
    div(class='root')
      div(class='asset', id='template')
          div(class='asset__id -border-row')
          div(class='asset__name -border-row')
          div(class='asset__controls -border-cols')
            span(class='asset__hp -border-col')
              input(class='asset__current-hp', value=10)
              span(class='asset__max-hp')
            div(class='asset__location -border-col') Location: 
              select(class='asset__location-select')
