html
  head
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/js/site.js')
    link(rel='stylesheet' href='/stylesheets/style.css')
    title=system.name
  body
    div(class='root')
    
      //Asset Template
      div(class='asset', id='template')
          div(class='asset__id -border-row')
          div(class='-border-row')
            span Unit Type:
            span(class='asset__name')
          div(class='asset__controls -border-cols')
            span(class='asset__hp -border-col')
              span
                input(class='asset__current-hp', value=10)
              span /
              span(class='asset__max-hp')
              span HP
            div(class='asset__location -border-col') Location: 
              select(class='asset__location-select')
              
      //Faction Template
      div(class='faction' id='template')
        div(class='faction__name')
      
      //Star Template
      div(class='star' id='template')
      
      //Orbital Template
      div(class='orbital' id='template')
      
      //Planet template
      div(class='planet satellite' id='template')
      
      //Asset dot template
      div(class='asset-dot satellite' id='template')
